<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/AARRSOL/IdeaProjects/PageObjectModel">
        <classes>
            <class name="com.thetestingacadmey.tests.TestVWOLogin">
                <methods>
                    <include name="testVWOLogin"/>
                </methods>
            </class>
            <class name="com.thetestingacadmey.tests.TestVWOLogin_POM"></class> >
        </classes>
    </test>
</suite>